{% extends "fixweb/layout.html" %}

{% block body %}
<div class="container my-3">
    <h4>Our services</h4>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Mechanical Plan Benefits
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cmponents</th>
                                <th scope="col">Machane</th>
                                <th scope="col">Mankhoe</th>
                                <th scope="col">Tobaka</th>
                                <th scope="col">Thabure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>7,631</td>
                                <td>12,718</td>
                                <td>17,800</td>
                                <td>12,718</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    CASH BACK PLUS
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">With Cash Back Plus, we give you cash back if you do not claim. If you
                    remain claim-free for ve uninterrupted years, then you will be entitled
                    to a pay-out of your entire rst year's contributions.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    CONTRIBUTION WAIVER
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A premium waiver will be activated upon the death of a principal
                    member. All the vehicles under the plan will remain covered for the next
                    6 months. Cover termination age is 65 years.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    FUNERAL BENEFIT
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Auto & Fix Mechanical Breakdown member is automatically legible for
                    funeral benets under their selected option. Immediately upon death,
                    Auto & Fix Mechanical Breakdown will pay a lump sum of cash benet as
                    stipulated by your chosen option.</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}